<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
    <title>Title</title>
    <script src="lib/codemirror/codemirror.js"></script>
    <link rel="stylesheet" href="src/style/normalize.min.css">
    <link rel="stylesheet" href="src/index.css">
    <link rel="stylesheet" href="lib/codemirror/codemirror.css">
    <link rel="stylesheet" href="lib/splitter/splitter.css">

    <!--加载 codemirror 主题-->
    <link rel="stylesheet" href="lib/codemirror/theme/monokai.css">

    <!--加载 console 样式-->
    <link rel="stylesheet" href="src/style/console.css">
</head>
<body>
<div id="control" class="control">
    <div id="control-panels" class="control-panels">
        <a href="#html-editor" class="button active">HTML</a>
        <a href="#js-editor" class="button">Javascript</a>
        <a href="#css-editor" class="button">CSS</a>
        <a href="#console-panel" class="button">Console</a>
        <a href="#output-panel" class="button active">Output</a>
    </div>
</div>
<div id="editor-container" class="editor-container stretch ">
    <div id="html-editor" class="html-editor stretch panelwrapper" aria-expanded="true">
        <div class="panel">
            <div class="editbox">
            <textarea aria-label="HTML Code Panel" spellcheck="false" autocapitalize="none" autocorrect="off"
                      id="html"></textarea>
            </div>
        </div>
    </div>
    <!--<div class="resize"></div>-->
    <div id="js-editor" class="js-editor stretch panelwrapper" aria-expanded="true">
        <div class="panel">
            <div class="editbox">
            <textarea aria-label="JavaScript Code Panel" spellcheck="false" autocapitalize="none" autocorrect="off"
                      id="javascript"></textarea>
            </div>
        </div>
    </div>
    <!--<div class="resize"></div>-->
    <div id="css-editor" class="css-editor stretch panelwrapper" aria-expanded="true">
        <div class="panel">
            <div class="editbox">
            <textarea aria-label="CSS Code Panel" spellcheck="false" autocapitalize="none" autocorrect="off"
                      id="css"></textarea>
            </div>
        </div>
    </div>
    <!--<div class="resize"></div>-->
    <div id="console-panel" class="console-panel stretch panelwrapper" aria-expanded="true">

    </div>
    <!--<div class="resize"></div>-->
    <div id="output-panel" class="output-panel stretch panelwrapper">
        <div class="panel ">
            <iframe id="show" class=""></iframe>
            <div class="label">
                <span class="name"><strong>Output</strong></span>
                <span class="options">
                <button id="runwithalerts"
                        title="ctrl + enter Include alerts, prompts &amp; confirm boxes">Run with JS</button>
                <label>Auto-run JS<input type="checkbox" id="enablejs"></label>
                </span>
                <span class="size" style="display: none;">1125px</span>
            </div>
        </div>
    </div>
</div>
<div id="mask" class="mask loading">

</div>
<!-- The sandbox template -->
<script type="text/template" id="tplSandbox">
    <div class="panel">
        <div class="console">
            <div class="output"></div>
            <div class="input">
                <textarea rows="1" placeholder="<%= placeholder %>"></textarea>
            </div>
        </div>
        <div class="label">
            <span class="name"><strong>Console</strong></span>
            <span class="options">
                <button id="clear-console" title="clear console">clear</button>
            </span>
        </div>
    </div>
</script>

<!-- The command/result template (NB whitespace/line breaks matter inside <pre> tag): -->
<script type="text/template" id="tplCommand">
    <% if (! _hidden) { %>
    <% if(_class=='inner-error'){%>
    <span class="line"><%= result %></span>
    <%}else{%>
    <span class="command"><%= command %></span>
    <% } %>
    <span class="prefix"><%= this.resultPrefix %></span>
    <span class="<%= _class %>"><%= result %></span>
    <% } %>
</script>

<script src="lib/jquery/jquery171.js"></script>
<script src="lib/seajs/seajs/2.1.1/sea-debug.js"></script>
<script src="lib/underscore/underscore.min.js"></script>
<script src="src/ie-hack/ie-hack.js"></script>

<!--加载 codemirror mode-->
<script src="lib/codemirror/mode/javascript/javascript.js"></script>
<script src="lib/codemirror/mode/xml/xml.js"></script>
<script src="lib/codemirror/mode/css/css.js"></script>

<!--加载 console 依赖-->
<script src="lib/javascript-sandbox-console/libs/backbone.min.js"></script>
<script src="lib/javascript-sandbox-console/libs/backbone-localStorage.min.js"></script><!-- opt -->

<script src="lib/javascript-sandbox-console/sandbox-console.js"></script>

<script src="lib/splitter/splitter.js"></script>

<script>
    seajs.config({
        path: {}
    });

    seajs.use(["./src/index.js"]);

</script>
</body>
</html>